table, td, th {
    border: 1px solid #222;
}

th {
    background-color: #222;
    color: white;
    text-align: center;
}

//html, body {
//    text-align: center;
//}

.navbar {
    border-radius: 0px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    background: image-url("backgrounds.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.copyright {
    color: #9d9d9d;
    padding-top: 15px;
}

.heading {
    color: white;
    padding-left: 15px
}

.overlay-body {
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
    padding: 15px;
}

.overlay-body-unsigned {
    border-radius: 20px;
}

.overlay {
    color: #cccccc;
    background-color:rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.overlay-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.overlay-bottom {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

input, button, textarea {
    color: black;
}