table, td, th {
    border: 1px solid #222;
}

th {
    background-color: #222;
    color: white;
    text-align: center;
}

html, body {
    text-align: center;
}

.navbar {
    border-radius: 0px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.copyright {
    color: #9d9d9d;
    padding-top: 15px;
}
