table, td, th {
    border: 1px solid #222;
}

th {
    background-color: #222;
    color: white;
    text-align: center;
}

html, body {
    text-align: center;
}

.navbar {
    border-radius: 0px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
    background: image-url("backgrounds.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.copyright {
    color: #9d9d9d;
    padding-top: 15px;
}

@font-face {
  font-family: proxima-nova, sans-serif;
  src: url('/assets/proximanova-regular-webfont.woff') format('woff'),
  url('/assets/proximanova-regular-webfont.ttf') format('truetype'),
  url('/assets/proximanova-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
